<!-- Footer -->
<footer class="flex justify-content-center align-items-center">
  <div class="footer flex">
    <div class="left w-30">
      <img src="/images/footer-a.jpg" alt="" />
    </div>
    <div class="right w-70 p-4">
      <div>
        <h2>
          Download our <br />
          Catalogue !!!
        </h2>
        <input type="email" placeholder="Name" />
        <input type="email" placeholder="Phone Number" />
        <input type="email" placeholder="Enter Email Address" />
        <button class="my-btn2 my-2">Submit</button>
      </div>
      <div class="footer-items w-60 flex">
        <ul>
          <li>SITEMAP</li>
          <li><a href="/about">About</a></li>
          <li><a href="/ingredients">Ingredients</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul>
          <li>LINKS</li>
          <!-- <li>Faq</li>
                <li>Certifications</li> -->
          <li>
            <a href="trishveda.pdf" target="_blank"> Catalogues</a>
          </li>
          <!-- <li>T & S</li> -->
        </ul>
        <!-- <ul>
                <li>SOCIAL</li>
                <li>
                  <a href="https://www.instagram.com/dermasist/" target="_blank"
                    >Instagram</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/company/nano-tech-chemical-brothers/"
                    target="_blank"
                    >Linkedin</a
                  >
                </li>
                <li>WhatsApp</li>
              </ul> -->
      </div>
      <div>
        <p style="margin-top: 40px">
          <a href="https://reapit.in/"> Powered by Reapit.in</a>
        </p>
      </div>
    </div>
  </div>
</footer>
