<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sustainability</title>
    <link rel="stylesheet" href="https://use.typekit.net/zwn4ylb.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <link rel="stylesheet" href="/css/responsiveMobileProducts.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body>
    <div class="sustainability">
    <div class="product-page">
      <header>
        <%- include("partials/navbar") %>
        <!-- Product Page -->
        <div class="product-header " style="padding-bottom: 100px;">
          <div class="container flex">
            <div class="w-60 flex flex-column justify-content-center">
              <h1>
                The best way to <br />predict the future <br class="display-none-mob" />
                is to create it!
              </h1>
              <p class="w-60 my-2">
                We stand upon our responsibilities with uttermost faithfulness.
                Our products provide an additional value of sustainability that
                fulfils today’s needs without compromising the future.
              </p>
              <a href="/ingredients" class="my-btn2 w-30">Explore our Range</a>
            </div>
            <div class="w-40">
              <img  src="/images/sustainability-1.png" class="w-80 p-2" alt="" />
            </div>
          </div>
        </div>
      </header>

      <!-- Essential -->
      <section
        class="essential"
        style="background-color: #41887c; color: #fff; padding: 80px 0"
      >
        <div class="container">
          <div class="flex bottom">
            <div class="w-50 left p-2" style="padding-top: 0">
              <img class="w-70" src="/images/sustainability-2.png" alt="" />
            </div>
            <div class="w-60 mx-ne-2 right">
              <h1>Sustainability <br />helps to Serve <br />Communities.</h1>
              <p class="w-70 my-2">
                Sustainability has been a primary part of our vision & strategy.
                We strive to provide better today for future generations. Our
                sustainability vision has three main components:
                <ul >
                <li>Environmental Conservation.</li>
                <li>Social Responsibility.</li>
                <li>Economic Development.</li>
              </ul>
              </p>
              
            </div>
          </div>
          <div class="flex top">
            <div class="left w-50">
              <h1>
                Sustainable <br />
                Production
              </h1>
              <p class="w-70 my-2">
                Our ingredients are prepared by using proven optimized processes
                through sustainable sourcing of ingredients. Through
                sustainability, we can quickly progress towards abundance.
              </p>
              <p><a href="index.html"> Learn the process</a></p>
            </div>
            <div class="w-50 right p-2" style="padding-top: 0">
              <img class="w-70" src="/images/sustainability-3.png" alt="" />
            </div>
          </div>
        </div>
        
        <img style="margin-bottom: -90px;" src="/images/natrual-a.svg" alt="" />
      </section>
     <section class="sustainable-bg-img">
       <h1 class="w-40">
        Let’s make a sustainable future together!
      </h1>
     </section>
      <!-- Footer -->
      <%- include("partials/footer") %>
    </div>
</div>
    <script src="/js/main.js"></script>
  </body>
</html>
